{% extends "music_player/base.html" %}
{% load static %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'music_player/js/parallax.min.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <h1>Home</h1>
    <div class="parallax-window" style="height: 100vh; margin-bottom: 500px;" data-parallax="scroll"
         data-image-src="{% static 'music_player/img/teens-music.jpg' %}"></div>
{% endblock content %}