{% extends "music_player/base.html" %} {% load static %} {% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'music_player/css/simple-grid.min.css' %}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="{% static 'music_player/css/main.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'music_player/js/parallax.min.js' %}"></script>
<script src="{% static 'music_player/js/floating-label.js' %}"></script>
{% endblock scripts %} {% block content %}
<div class="container">
    <section id="login">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="container">
                    <h2>Login</h2>
                    <div class="float-container">
                        <label id="labelUsername" for="username">Username / E-Mail</label>
                        <input type="text" id="username" data-placeholder="Enter Username or E-Mail...">
                    </div>
                    <div class="float-container">
                        <label id="labelPassword" for="password">Password</label>
                        <input type="password" id="password" data-placeholder="Enter Password...">
                    </div>
                    <button id="submit" class="button text-regular">Submit</button>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </section>
</div>
<script type="text/javascript">
    const button = document.getElementById("submit")
    const username = document.getElementById("username")
    const password = document.getElementById("password")
    button.addEventListener("click", function(e) {
        if (username.value === '' || password.value === '') {
            document.getElementById("labelUsername").classList.add("error-label")
            document.getElementById("labelPassword").classList.add("error-label")
            return
        }
        document.getElementById("labelUsername").classList.remove("error-label")
        document.getElementById("labelPassword").classList.remove("error-label")
        window.location.replace("/dashboard")
    })
</script>
{% endblock content %}